:root {
    --cor-fundo: rgb(111, 164, 218);
    --cor-header: rgba(24, 6, 80, 0.93);
    --cor-fonte-header: rgb(235, 232, 240);
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0 auto;
    padding: 0;

    background: var(--cor-fundo) ;

}

a {
 padding: 5px;
 width: 120px;
  color: #140a48;
  font-size: 1.2rem;
  box-sizing: border-box;
  border: outset 2px;
  border-color: rgb(58, 13, 117);
  background-color: rgba(223, 216, 244, 0.93);
  text-decoration: none;   
}
a:link{

}
.header{
    margin: 0 auto;
    padding: 30px;
    background-color: var(--cor-header);
    color: var(--cor-fonte-header);
}
.container{
    margin: 0 auto;
    width: 80%;
    padding: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: rgb(255, 255, 255);
}
.box-shadow{
    box-shadow: 2px 2px 4px rgba(61, 9, 232, 0.93);
}
.menu-header{
    display: block;
    margin: 0 auto;
    width: 100%;
    border: 0;
    background-color: rgb(186, 187, 197);
    padding: 10px;
    color:rgba(61, 9, 232, 0.93);
}
.text-center{
    text-align: center;
}
